 <div>
 <p>{{message}}</p>
 <form name="myForm"  >
                <p>Course Name:</p>
                <input type="text" name="courseName"  ng-model="courseName" required />
                <span ng-show ="myForm.courseName.$invalid"> It is required</span>
          

 <p>Course Credit:</p>
   <input type="text" name="courseCredit" ng-model="courseCredit" ng-pattern="/^[1-9][0-9]{0,1}|[0]$/" ng-init="courseCredit = '0'" required>
 	<span ng-show="myForm.courseCredit.$invalid">Please, write a valid number.</span>
 	
 	<p>Semester:</p>
   <input type="text" name="preferedSemester" ng-model="preferedSemester" ng-pattern="/^[1-9][0-9]{0,1}$/" ng-init="preferedSemester = '0'" required>
 	<span ng-show="myForm.preferedSemester.$invalid">Please, write a valid number.</span>
 	<p>
    <button type="submit" ng-disabled="myForm.courseName.$pristine || (myForm.courseCredit.$dirty && myForm.courseCredit.$invalid ) || (myForm.preferedSemester.$dirty && myForm.preferedSemester.$invalid )  || (myForm.preferedSemester.$pristine && myForm.preferedSemester.$invalid )  || (myForm.courseName.$dirty && myForm.courseName.$invalid)" ng-click="send()">Send</button>
</p>
</form><br>
 </div>